@import 'style';

#banner {
  background-image: url('images/overlay.png'), url('../images/keyboardAndCoffee.jpg');

  strong {
    color: #ffffff;
  }
}

.major{
  a{
    border-bottom: none;
  }
}

#main {
  .jarvis-logo {
    padding: 20px;
  }
}

.features-row{
  p{
    margin: 0px;
  }
  .description {
    text-align: left;
    padding: 0px;
  }
}

#cta{
  a{
    color:#fff;
  }
}